@page "/users"

@using DiscordBot_Web.Models
@inject IHttpClientFactory ClientFactory
@using System.Text.Json
@using System.Text.Json.Serialization

<h1>Call web API from a Blazor Server Razor component</h1>

@if (getUsersError)
{
    <p>Unable to get branches from GitHub. Please try again later.</p>
}
else
{
    <ul>
        @foreach (var user in AllUsers)
        {
            <li>@user.Name</li>
        }
    </ul>
}

@code {
    private IEnumerable<User> AllUsers = Array.Empty<User>();
    bool getUsersError = false;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7291/gateway/user");
        request.Headers.Add("Accept", "application/vnd.github.v3+json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");
        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            AllUsers = await JsonSerializer.DeserializeAsync<IEnumerable<User>>(responseStream);
        }
        else
        {
            getUsersError = true;
        }
    }
}
