@page "/users"

@using DiscordBot_Web.Models
@using DiscordBot_Web.HttpClient
@inject GatewayHttpClient GatewayHttpClient
@using System.Text.Json
@using System.Text.Json.Serialization

<h1>Call web API from a Blazor Server Razor component</h1>

@if (getUsersError)
{
    <p>Unable to get branches from GitHub. Please try again later.</p>
}
else
{
    <ul>
        @foreach (var user in AllUsers)
        {
            <li>@user.Name</li>
        }
    </ul>
}

@code {
    private IEnumerable<User> AllUsers = Array.Empty<User>();
    bool getUsersError = false;

    protected override async Task OnInitializedAsync()
    {
        AllUsers = await GatewayHttpClient.SendAsync<IEnumerable<User>>(
            new HttpRequestMessage(HttpMethod.Get, "https://localhost:7291/gateway/user"));
    }
}
